* {
  margin: 0;
  padding: 0;
  color: rgb(33, 133, 200);
  font-family: "Courier New", Courier, monospace;
}

ul {
  list-style-type: none;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white;
}
body {
  height: 95%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 213, 140);
  border-radius: 5px;
}
form {
  width: 50%;
}

li {
  padding: 5px;
  display: flex;
  width: 300px;
  position: relative;
  padding-bottom: 20px;
}

label {
  padding-right: 5px;
  /* word-wrap: none; */
  white-space: nowrap;
}

input {
  flex: 1;
  appearance: none;
  border: 1px solid rgb(224, 220, 220);
  border-radius: 3px;
  padding: 1px 5px 1px 5px;
  max-height: 15px;
  min-width: 50px;
}

legend {
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  border: 1px solid rgb(224, 220, 220);
  border-radius: 5px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

fieldset {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: white;
  border-radius: 10px;
  border: 0;
}

div {
  position: absolute;
  top: 25px;
  right: 5px;
  /* left: 90px; */
  color: red;
  font-size: smaller;
}
